@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FK Grotesk';
  src: url('/fonts/FKGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FK Grotesk SemiMono';
  src: url('/fonts/FKGroteskSemiMono-Regular.woff2') format('woff2');
}

html,
body,
* {
  cursor: none !important;
}

/* width */

::-webkit-scrollbar {
  width: 3px;
  @apply bg-black;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply bg-cream-80;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
